<% layout('layouts/boilerplate') %>

<h1><%= apartment.title %></h1>

<div>
  <b>Description:</b> <%= apartment.description %>
  <br />
  <b>Location:</b> <%=apartment.location %>
  <br />
  <b>Price:</b> <%= apartment.price %>
</div>
<div class="d-flex justify-content-start my-5 mx-2">
  <a  class="btn btn color-primary bg-secondary text-white" href="/apartments/<%= apartment._id %>/edit">Edit information</a>
<form action="/apartments/<%= apartment._id %>?_method=DELETE" method="POST">
  <button class="btn btn color-primary bg-secondary text-white mx-2">delete !</button>
</div>
</form>
