<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= apartment.title %>:</h1>

    <div>
      <b>Description:</b> <%= apartment.description %>
      <br />
      <b>Location:</b> <%=apartment.location %>
      <br />
      <b>Price:</b> <%= apartment.price %>
    </div>

    <form
      action="/apartments/<%= apartment._id %>?_method=DELETE"
      method="POST"
    >
      <button>delete !</button>
    </form>
    <footer>
      <a href="/apartments/<%= apartment._id %>/edit"> Edit apartment</a>
      <a href="/apartments">Go back</a>
    </footer>
  </body>
</html>
